<header id="masthead" class="site-header clearfix" role="banner">
    <div class="header-main container clearfix">
        <div id="logo" class="site-branding clearfix">
            <h1 class="site-title">
                <a href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
                {{ .Site.Title }}
                </a>
            </h1>
            <p class="site-description">{{ .Site.Params.Subtitle}}</p>
        </div>
    </div>
    <div id="main-navigation-wrap" class="primary-navigation-wrap">
        <nav id="main-navigation" class="primary-navigation navigation container clearfix"
             role="navigation">
            <ul id="menu-home" class="main-navigation-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom
                            current-menu-item current_page_item menu-item-home">
                    <a href="{{ "" | relLangURL }}">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</header>