<div>
    <div style="font-weight: bold">Share this post:</div>
    <a class="social-link-item"
       href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on Twitter">
        <i class="fa-brands fa-square-x-twitter fa-2xl twitter-x" ></i>
    </a>
    <a class="social-link-item"
       href="https://bsky.app/intent/compose?text={{ .Title }} {{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on Bluesky">
        <i class="fa-brands fa-bluesky fa-2xl bluesky"></i>
    </a>
    <a class="social-link-item"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on LinkedIn">
        <i class="fa-brands fa-linkedin fa-2xl linkedin"></i>
    </a>
    <a class="social-link-item"
       href="https://www.reddit.com/submit?url={{ .Permalink }}&type=LINK&title={{ .Title }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on Reddit">
        <i class="fa-brands fa-square-reddit fa-2xl reddit"></i>
    </a>
</div>
